*{font-family:roboto}

.header{
    background-color:#1F2937 ;
    color: white; 
    height:400px;
}
    
/* Top section of page, with linki and 'logo' */
.left {
    display: flex;
    margin-top: 12px;
    margin-left: 300px;
    font-weight: bold;

}
.right {
  
    display: flex;
    gap: 60px;
    font-size: 12px;
   margin-right: 90px;
   
}
.top{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row;
    font-family: roboto;
}

/* Next section of the header*/
.int{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: center;  
}
.left2{
    display: flex;
    height: 150px;
    width: 350px;
    box-sizing: border-box;
    margin-left: 150px;
    flex-direction: column;
}
.right2{
    display: flex;
    height: 150px;
    width: 350px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    background-color:gray ;

}
.a{
    font-weight:bolder;
    font-size: 38px;

}
.c{
    height: fit-content;
    width: fit-content;
    font-weight: bolder;
    background-color: #074fb3;
    margin-top: 8px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;

}
/*End of top section*/
.mid {
    display:flex;
    flex-direction: column;
}
.mida{
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    align-self: center;
    margin-top: 30px;
    
}
.midb{
    
    margin-top: 30px;
    height: fit-content;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:30px ;
    font-size: 15px;
    margin-bottom: 75px;
}
.midb1{
    flex-direction: column;
    display: flex;
    width: 130px;

}
.midb2{
    flex-direction: column;
    display:flex;
    width: 130px;

}
.midb3{
    flex-direction: column;
    display: flex;
    width: 130px;

}
.midb4{
    flex-direction: column;
    display: flex;
    width: 130px;
 
}
.box{
    width: 130px;
    height: 130px;
    border-style: solid;
    border-color: rgb(35, 135, 218);
    border-width: 2px;
    border-radius: 9px;
    box-sizing: border-box;
}
/*End of Mid section*/

.next{
    display: flex;
    background-color:#E5E7EB;
    height: 270px;
    width: auto;
    align-self: center;
    text-align: center;
}
.next1{
    font-style: italic;
    text-align: center;
    width: 2200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nextm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
   


}
.nexts{
    margin-left: 180px;
}
/*End of next section*/
.bot{
    display: flex;
    width: auto;
    height: 220px;
    color: white;
    justify-content: center;
    align-items: center;

}
.win{
    height: 110px;
    display: flex;
    background-color: #3882f6;
    border-radius: 6px;
    font-weight: bolder;
}
.winm{
    flex-direction: column;
    display: flex;
    width: 500px;
    justify-content: center;
    

}
.winm1{
    font-size: 17px;
    margin-left: 90px;
}
.winm2{
    font-size: 12px;
    margin-left: 90px;
}
.winss{
    display: flex;
    width: 200px;
    height: 110px;
    justify-content: center;
    align-items: center;
}
.wins{
    text-align: center;

    height: 20px;
    width: 110px;
    padding: 4px;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    border-width: 1px;

}